<div class="lista-carrito">
    <article class="productCart">
        <div class="productCart-body">
            <p>product.title</p>
            <div class="product-body-info">
                <p>$ product.price</p>
                <p>product.cantidad</p>
            </div>
        </div>
    </article>
    <div class="productCart-total">
        <p>Suma</p>
    </div>
    <div class="productCart-Buttons">
       <div class="productCart-buttons-operators">
            <i class="fa-solid fa-plus"></i>
           <span>product.canitdad</span>
           <i class="fa-solid fa-minus"></i>
       </div>
       <i class="fa-solid fa-trash"></i>
    </div>
    <article>
        <div class="cartTotal">
            <p class="cartTotal-total">
                total: $ total
            </p>
        </div>
        <div>
            <button class="cart-btn">
                    ir al carrito
            </button>
        </div>
    </article>
</div>
