<div class="lista-carrito">
    <article class="productCart" *ngFor="let product of myCart$ | async">
        <div class="productCart-body">
            <p>{{product.title}}</p>
            <div class="product-body-info">
                <p>$ {{product.price}}</p>
                <p>{{product.cantidad}}</p>
            </div>
        </div>

    <div class="productCart-total">
        <p>$ {{totalProduct(product.price, product.cantidad)}}</p>
    </div>
    <div class="productCart-Buttons">
       <div class="productCart-buttons-operators">
           <i class="fa-solid fa-minus" (click)="updateUnits('minus', product.id)"></i>
           <span>{{product.cantidad}}</span>
           <i class="fa-solid fa-plus" (click)="updateUnits('add', product.id)"></i>
       </div>
       <i class="fa-solid fa-trash" (click)="deleteProduct(product.id)"></i>
    </div>

</article>
        <div class="cartTotal">
            <p class="cartTotal-total">
                total: $ {{totalCart()}}
            </p>
        </div>
        <div>
            <button class="cart-btn">
                    ir al carrito
            </button>
        </div>
</div>
