.cart-item{
    position: relative;
    color: white; 
    border-radius: 1.5rem;
    right: 0px;
}

.cart{
    display: none;
}

.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: absolute;
    background-color: blue;
    
    border: 1px solid black;
    right: 0px;
    top: 50;
    min-width: 40%;
}